<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${adviceDTO.title}">Advice Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>
    <script src="/scripts/navbar.js" defer></script>

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1 th:text="${adviceDTO.title}">Advice Title</h1>
    <p><strong>Author:</strong> <span th:text="${adviceDTO.authorUsername}"></span></p>
    <p><strong>Category:</strong> <span th:text="${adviceDTO.adviceCategory}"></span></p>
    <div th:if="${adviceDTO.imageUrl}">
        <img th:src="${adviceDTO.imageUrl}" alt="Advice Image" class="img-fluid">
    </div>

    <!-- Display Tags -->
    <p>
        <strong>Tags:</strong>
        <span th:each="tagName, iterStat : ${adviceDTO.tags}">
        <span th:text="'#' + ${tagName}">#TagName</span>
        <span th:if="${!iterStat.last}">, </span>
    </span>
    </p>
    <p>
        <strong>Likes count:</strong>
        <span th:text="${adviceDTO.likesCount}">Likes Count</span>
    </p>
    <p>
        <strong>Reads count:</strong>
        <span th:text="${adviceDTO.readsCount}">Read Count</span>
    </p>
    <form th:action="@{/advices/like/{id}(id=${adviceDTO.id})}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-outline-primary">
            <span th:text="${adviceDTO.likedByCurrentUser} ? 'Odlub' : 'Polub'">Polub/Odlub</span>
        </button>
    </form>





    <a th:href="@{/advices}" class="btn btn-secondary">Back to Advices</a>
</div>

</body>
</html>
