/* Ukryj formularz edycji na początku */
#editForm {
    display: none;
    margin-top: 10px;
}

.edit-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex; /* Align buttons horizontally */
    gap: 10px; /* Space between buttons */
}

/* Stylizacja przycisków */
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 150px;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #66afe9;
    outline: none;
}